/* class for navigation items */
.active {
    @apply text-darkViolet border-b border-darkViolet;
}
.menu {
    z-index: 10;
    display: flex;
    gap: 1rem;
    transition: top .8s ease-in-out ;
    & li {
        text-align: center;
        transition: all ease-in-out .4s;
        &:hover {
            @apply text-darkViolet hover:border-b border-darkViolet;
        }
    }
}
/* change style list in devices small than 768 px */
@media (max-width: 768px) {
    .menu {
        background: white;
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        height: 100vh;
        flex-direction: column;
        padding-top: 3.5rem;
        & li {
            border: none;
        }
    }
    .drop-menu {
        top: 0;
        overflow-y: hidden;
    }
}
/* hide the scroll bar in categories section */
#categories-images::-webkit-scrollbar{
    display: none;
}